.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.option-container {
  max-width: 400px;
}

.header {
  min-height: 64px;
}

.footer {
  min-height: 64px;
}

